*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:"Prompt", sans-serif;
}

.container{
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    width: 100%;
}

.nav-container{
    padding: 0rem;
    background-color: #15c80e;
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px 0px 20px;
    
    
}

.menu{
    display: flex;
   justify-content: space-between;
}

.logo a{
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 10px;
}

.menu{
display: flex;
list-style: none;
align-items: center;
}

.menu li{
margin: 0 2rem;
padding: 10px 10px;
font-size: 14px;
font-weight: 600;
height: 60px;
line-height: 60px;
padding: 0px 10px;
}

.menu li a{
color: rgb(255, 255, 255);
text-decoration: none;
}

.maincontent{
    background-color: rgb(241, 231, 167);
    width: 100%;
}

.maincontent-con{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.maincontent-info{
    width: 100%;
    padding: 2rem;
}

.maincontent-info h3{
    font-size: 2rem;
}

.maincontent-info p{
    display: block;
    
}
p{
    display: block;
    margin: 20px 0px 30px 0px;
}


.maincontent-info .maincontent-btn{
    background-color: #15c80e;
    color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
}
.maincontent-info .maincontent-btn:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.maincontent-img{
    width: 100%;
    padding: 2rem;
    border-radius: 5px;
}

.content-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;    
}

.content-titie{
    margin: 2rem 0;
}

.content-item img{
    width: 80%;
}

.content-item h4{
    margin-top: 1rem;
}

.content-item p{
    margin: 1rem 0;
}

.content-item a{
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.menu li a:hover{
    color: black;
}
img{
    border-radius: 20px;
    block-size: 60%;
}
a{
    text-decoration: none;
}
.content{
    display: flex;
    gap: 20px;
}

h4{
    padding: 20px 0px;
    font-size: 150%;
}